@font-face {
  font-family: 'Body';
  src: url('../assets/MorrisRomanBlack.ttf')  format('truetype')
}
@font-face {
  font-family: 'Titles';
  src: url('../assets/Vastantonius.ttf')  format('truetype')
}

* {
  box-sizing: border-box;
}

html {
    height:100%;
}

body {
  font-family: 'Body';
  font-size: 20px;
  line-height: unset;
  user-select: none;
  image-rendering: pixelated;
  -webkit-font-smoothing: none;
  background: black;
  color:#fff;
}

h1,h2,h3,h4,h5,h6{
  margin:0;
  /* text-shadow: 2px 2px 0px black; */
}

h4{
  font-weight: 100;
}

h1,h2,h3{
  font-family: "Titles";
}

hr{
  border-color:  silver;
}

textarea:focus, input:focus{
  outline: none;
}

.rc-tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  visibility: visible;
  line-height: 1.5;
}
.rc-tooltip-hidden {
  display: none;
}
.rc-tooltip-inner{
  min-height: 0;
  max-width: 20em;
  background: #000;
  color:#fff;
  border: 2px solid white;
  padding: 7px;
}